body {
    background-color: #9975fcf7;
    font-family: "Eater", cursive;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Añadido para centrar verticalmente los elementos */
    height: 100vh; /* asegura que el body ocupe toda la altura de la ventana */
}

#webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Cambiado para que se ajuste al contenido */
}

#camera {
    width: 640px; /* ajusta el tamaño segun sea necesrio */
    height: 480px; /* ajusta el tamaño segun sea necesario */
}

#text-container {
        margin-top: 20px; /* ajusta el margen según sea necesario */
        text-align: center;
        font-size: 80px; /* ajusta el tamaño del texto según sea necesario */
        font-family: "Eater", cursive; /* cambia la fuente a Eater */
    }