body{    background-color: #9991f8;
    font-family: "Big Shoulders Stencil", cursive;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh; /* asegura que el body ocupe toda la altura de la ventana */
}

#webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#camera {
    width: 640px; /* ajusta el tamaño segun sea necesrio */
    height: 480px; /* ajusta el tamaño segun sea necesario */
}

#webcam-container {
    #camera {
        position: absolute;
        top: 340px; /* ajusta esta propiedad segun sea necesario */
        left: 640px; /* ajusta esta propiedad segun sea necesario */
        width: 640px; /* ajusta el tamaño segun sea necesario */
        height: 480px; /* ajusta el tamaño segun sea necesario */
    } /* cierra el contenedor de la cámara */
}

#text-container {
    margin-top: 20px; /* ajusta el margen según sea necesario */
    text-align: center;
    position: absolute;
    top: 520px; /* ajusta esta propiedad según sea necesario para que el texto esté debajo de la cámara */
    left: 50%;
    transform: translateX(-50%);
}